.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
  body {
    --bg-color: black;
    --fg-color: white;
    --available-height: calc(100vh);
    background-color: var(--bg-color);
    margin: 0;
    /*font-size:calc([minimumsize]+([maximumsize]-[minimumsize])*((100vw-[minimumviewportwidth])/([maximumviewportwidth]-[minimumviewportwidth])))*/
  
    font-size: calc(16px + (64 - 16) * ((100vmin - 800px) / (1980 - 800)));
  }
  
  button.choice {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
  }
  
  canvas {
    height: var(--available-height);
    width: 60vw;
  }
  
  button.selected {
    background-color: pink;
  }
  
  button#setup {
    position: absolute;
    top: 10;
    left: 10;
    background-color: black;
    border-radius: 5px;
  }
  
  #setup img {
    width: 20px;
    height: 20px;
  }
  